* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

.video {
  background-color: #ababab;
  width: 100%;
  height: 563px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
}

.video h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

.video-container {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container iframe {
  width: 50%;
  height: 100%;
}

.features {
  background-color: #c4c4c4;
  width: 100%;
  height: 601px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.features h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.features .discover {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 20px;
}

.feature-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  width: 100%;
  max-width: 200px;
}

.usp {
  background-color: #ededed;
  width: 100%;
  height: 808px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.usp-heading-container {
  width: 968px;
  height: 205px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.usp-heading-container h2 {
  font-size: 3rem;
}

.usp-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 0;
  justify-items: center;
  width: 968px;
  margin: 0 auto;
}

.usp-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 140px;
}

.circle-usp {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin-bottom: 20px;
}

.usp-text {
  font-size: 0.7rem;
  color: #000000;
}
