* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #333;
}
.prices {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
}
.prices-head {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 51vw;
    text-align: center;
}
.price-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 27vh;
    background-color: white;
    text-align: center;
}
.prices-container {
    display: flex;
    gap: 1rem;
}
.PriceValue-container {
    font-weight: 400;
    font-family: Roboto;
    font-size: 22px;
    width: 17vw;
    height: 17vw;
    margin: 1rem;
}
.price-item-footer {
    width: 16vw;
    height: 4vw;
    background-color: #ebebeb;
    /* border: solid; */
    margin: 1rem;
}
/* Footer Styles */
.footer {
    border: solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    display: flex;
    width: 100%;
    height: 40vw;
}
.fotter-title {
    border: solid;
    width: 50vw;
    text-align: center;
    font-family: Roboto;
    font-;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.footer-nav {
    border: solid;
    text-decoration: none;
    a{
      text-decoration: none;
      color: #000000;
      padding: 1rem;
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

    }
    
}
.socialMediaLinks-container {
    border: solid;
    display: flex;
    gap: 3rem;
    div{
    border: solid;
    border-radius: 50%;
    width: 5vw;
    height: 5vW;
    }
    

}

